<h1>购物车内的商品 &nbsp;({$total_weight/1000} kg)</h1>
            <form action="" method="post" enctype="multipart/form-data">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td class="text-center">图片</td>
                      <td class="text-left">商品名称</td>
                      <td class="text-left">UPC</td>
                      <td class="text-left">数量</td>
                      <td class="text-right">单价</td>
                      <td class="text-right">总计</td>
                    </tr>
                  </thead>
                  <tbody>
         <volist name="goods_list" id="goods">
                    <tr>
                      <td class="text-center">
                        <a href="{:U('/goods/' . $goods['goods_id'])}">
                          <img src="__UPLOAD__/Back/Goods/{$goods['image_thumb']}" alt="{$goods['name']}" title="{$goods['name']}" style="max-height: 40px" class="img-thumbnail" />
                        </a>
                      </td>
                      <td class="text-left">
                        <a href="{:U('/goods/' . $goods['goods_id'])}">{$goods['name']}</a>
                      </td>
                      <td class="text-left">{$goods['upc']}</td>
                      <td class="text-left">
                        <div class="input-group btn-block" style="max-width: 200px;">
                          <input type="text" name="quantity[{$goods['goods_id']}]" value="{$goods['quantity']}" size="1" class="form-control" />
                          <span class="input-group-btn">
                            <button type="submit" data-toggle="tooltip" title="更新" class="btn btn-primary">
                              <i class="fa fa-refresh"></i>
                            </button>
                            <button type="button" data-toggle="tooltip" title="移除" class="btn btn-danger" onclick="removeGoods({$goods['goods_id']},'{$goods['option_str']}')">
                              <i class="fa fa-times-circle"></i>
                            </button>
                    <script type="text/javascript">
                		function removeGoods(goods_id,option_str){
                			$.ajax({
                				type:'post',
                				url:'{:U('Checkout/removeGoods')}',
                				data : {
                					'goods_id' : goods_id,
                					'option_str' : option_str,
                				},
                				success : function(response){
                					// 移出ok，重新加载购物车列表部分
                          // console.log(response)  ;
                          // console.log(response.error);
                          if (response.error == '0') {  
                  					$('#content').load('{:U('Checkout/cart',['is_ajax'=>'yes'])}');
                  				}
                        }
                			});
                		}
                    </script>
                          </span>
                        </div>
                      </td>
                      <td class="text-right">￥{$goods['real_price']}</td>
                      <td class="text-right">￥{$goods['total_price']}</td>
                    </tr>
        </volist>
                  </tbody>
                </table>
              </div>
            </form>

    <div class="row">
              <div class="col-sm-4 col-sm-offset-8">
                <table class="table table-bordered">
                  <tr>
                    <td class="text-right"> <strong>商品总额:</strong>
                    </td>
                    <td class="text-right">￥{$total_price}</td>
                  </tr>

                </table>
              </div>
    </div>
    <div class="buttons">
                <div class="pull-left">
                  <a href="{:U('/')}" class="btn btn-default">继续购物</a>
                </div>
                <div class="pull-right">
                  <a href="{:U('/order')}" class="btn btn-primary">去结账</a>
                </div>
    </div>