<extend name="Layout/Home" />
<block name="content">
	<div class="container">
        <div class="row">
          <div id="content" class="col-sm-12">
            <div class="content_top">
              <div id="slideshow0" class="owl-carousel slideshow owl-loaded owl-drag">                              
              <div class="owl-stage-outer"><div style="transform: translate3d(-3420px, 0px, 0px); transition: all 0.3s ease 0s; width: 6840px;" class="owl-stage"><div style="width: 1140px;" class="owl-item cloned"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
                  </a>
                </div></div><div style="width: 1140px;" class="owl-item cloned"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
                  </a>
                </div></div><div style="width: 1140px;" class="owl-item"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
                  </a>
                </div></div><div style="width: 1140px;" class="owl-item active"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
                  </a>
                </div></div><div style="width: 1140px;" class="owl-item cloned"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
                  </a>
                </div></div><div style="width: 1140px;" class="owl-item cloned"><div class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
                  </a>
                </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
              <script type="text/javascript"><!--
$(document).ready(function() {
  $('#slideshow0').owlCarousel({
    items: 1, //显示数量
    loop: true, //循环滚动
    autoplay: true, //自动播放
    autoplayTimeout: 3000, //自动切换时间（毫秒）
    autoplayHoverPause: true, //鼠标移动到图片上面时，是否暂停自动播放
    autoplaySpeed: 300, //自动播放图片切换动画时长
    navSpeed: 400, //左右切换按钮图片切换动画时长
    dotsSpeed: 300, //点击图片下方黑点图片切换动画时长
    nav: true, //是否显示左右切换按钮
    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], //左右切换按钮图标
    dots: true, //是否显示图片下方黑点
  });
});
--></script>
              <h2 class="widget-title">
                <span>推荐商品</span>
              </h2>
              <div class="row">
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing2-300x340.jpg" alt="普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士" title="普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥5,379.00</span>
                        <span class="price-old">￥8,096.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('56');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('56');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('56');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing3-300x340.jpg" alt="普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男" title="普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥5,259.00</span>
                        <span class="price-old">￥8,766.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('61');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('61');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('61');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing4-300x340.jpg" alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" title="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥7,770.00</span>
                        <span class="price-old">￥8,867.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('71');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('71');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('71');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing1-300x340.jpg" alt="普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv" title="普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥5,499.00</span>
                        <span class="price-old">￥8,600.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('72');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('72');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('72');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ul id="banner0" class="banners">
                <li class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/hengfu1-1140x382.jpg" alt="hengfu-xia" class="img-responsive">
                  </a>
                </li>
              </ul>
              <h2 class="widget-title">
                <span>最新商品</span>
              </h2>
              <div class="row">
    <volist name="new_list" id="new">
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="{:U('goods',['id'=>$new['goods_id']])}">
                        <img src="__UPLOAD__Back/Goods/{$new['image']}" alt="{$new['name']}" title="{$new['name']}" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="{:U('goods',['id'=>$new['goods_id']])}">{$new['name']}</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥{$new['real_price']}</span>
                        <span class="price-old">￥{$new['price']}</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="addCart({$new['goods_id']},'{:U('/goods/'.$new['goods_id'])}');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('80');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('80');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </volist>
              </div>
              <ul id="banner1" class="banners">
                <li class="item">
                  <a href="">
                    <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/hengfu2-1140x587.jpg" alt="233" class="img-responsive">
                  </a>
                </li>
              </ul>
              <h2 class="widget-title">
                <span>特价商品</span>
              </h2>
              <div class="row">
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing4-300x340.jpg" alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" title="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥7,770.00</span>
                        <span class="price-old">￥8,867.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('71');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('71');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('71');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing12.1-300x340.jpg" alt="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" title="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥3,199.00</span>
                        <span class="price-old">￥4,999.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('73');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('73');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('73');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing5-300x340.jpg" alt="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" title="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥2,999.00</span>
                        <span class="price-old">￥3,799.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="cart.add('80');">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('80');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('80');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="product-wrapper">
                    <div class="product-image">
                      <a href="">
                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing9.1-300x340.jpg" alt="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜" title="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜" class="img-responsive">
                      </a>
                    </div>
                    <div class="product-info">
                      <div class="product-name">
                        <a href="">普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜</a>
                      </div>
                      <div class="product-description">
                        <p>..</p>
                      </div>
                      <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                      </div>
                      <div class="product-price">
                        <span class="price-new">￥5,012.00</span>
                        <span class="price-old">￥8,766.00</span>
                      </div>
                      <div class="product-action">
                        <button type="button" class="add-to-cart" onclick="addCart();">
                          <i class="fa fa-shopping-cart"></i>
                          <span>加入购物车</span>
                        </button>
                        <div class="ps-add-buyincang" id="btn-visible">
                          <button type="button" class="wishlist" onclick="wishlist.add('76');">
                            <i class="fa fa-heart-o"></i>
                            <span>收藏</span>
                          </button>
                          <button type="button" class="compare" onclick="compare.add('76');">
                            <i class="fa fa-bars"></i>
                            <span>对比</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript">
        function addCart(goods_id,goods_url) {
            // 判断是否有选项的ajax请求
            var flag = false;
            $.ajax({
              url : '{:U('Home/Checkout/hasOption')}',
              type : 'get',
              async :false,
              data : {
                 'goods_id':goods_id,
              },
              dataType : 'json',
              success : function(response) {
                  if (response.result == 'yes') {
                       // alert('选项呢');
                       location.href=goods_url;
                      // 阻止添加标识
                      flag = true;
                  }
              }
            });
            // 如果需要选项，则return，后边代码停止执行
            if (flag == true) {
              return ;
            }
            // 不需要选项直接添加
            $.ajax({
              type : 'get',
              url : '{:U('Home/Checkout/addCart')}',
              data : {
                'is_ajax' : '1',
                'goods_id' : goods_id,
              },
              dataType : 'json',
              success : function (response) {
                  if (response.error == '0') {
                      alert('添加商品到购物车ok');
                  }
              }
            });
        }
    </script>
</block>